[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "MultiSelectSegmentedControl"]
	path = MultiSelectSegmentedControl
	url = https://github.com/yonat/MultiSelectSegmentedControl.git
